# General
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Build
build/
dist/
out/
.next/
*.tsbuildinfo

# Plasmo
.plasmo/

# Editor
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/

# Misc
*.pem
.pnp
.pnp.js

# Workflows (Ignored)
.agent/
.github/
